[submodule "construct_dataset/third_party/goethe-institute-wordlist"]
	path = construct_dataset/third_party/goethe-institute-wordlist
	url = https://github.com/ilkermeliksitki/goethe-institute-wordlist
